
<!DOCTYPE html>
<html>
<head>
<title>Air Ticket Booking</title>
</head>
<body>
<h1>Air Ticket Booking</h1>
<form action="/search" method="POST">
<label for="origin">Origin:</label>
<input type="text" name="origin" id="origin">
<br>
<label for="destination">Destination:</label>
<input type="text" name="destination" id="destination">
<br>
<label for="departure_date">Departure Date:</label>
<input type="date" name="departure_date" id="departure_date">
<br>
<label for="return_date">Return Date:</label>
<input type="date" name="return_date" id="return_date">
<br>
<input type="submit" value="Search">
</form>
</body>
</html>


